# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries in Data Science
- Create a table containing 3 development environment open source tools used in Data Science
- Evaluate an expression in a code cell
- Convert minutes to hours using an expression in a code cell

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL (Structured Query Language)
3. R
4. Julia
5. JavaScript
6. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. PyTorch
5. Scikit-learn
6. TensorFlow

| Data Science Tools |
| :--- |
| Jupyter |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [11]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bona Dea Agapay